venv
.DS_Store
__pycache__
.pytest_cache
.idea
.vscode
.devcontainer
.coverage
.hypothesis
htmlcov
*.iml
dist
*.tar.gz
local_cache/*/*
.python-version
docs/source/examples/local_cache/*
docs/source/examples/path/to/db/*
embed/_inspection_cache.py.diff