[tool.poetry]
name = "qdrant_client"
version = "0.1.0"
description = ""
authors = ["Andrey Vasnetsov <andrey@vasnetsov.com>"]

[tool.poetry.dependencies]
python = "^3.9"
httpx = "^0.16.1"
numpy = "^1.20.1"
pydantic = "^1.7.3"
tqdm = "^4.56.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
