[tool.poetry]
name = "qdrant_client"
version = "0.3.6"
description = "Client library for the Qdrant vector search engine"
authors = ["Andrey Vasnetsov <andrey@vasnetsov.com>"]
packages = [
    {include = "qdrant_client"},
    {include = "qdrant_openapi_client"}
]
readme = "README.md"
homepage = "https://github.com/qdrant/qdrant_client"
repository = "https://github.com/qdrant/qdrant_client"
keywords = ["vector", "search", "neural", "matching", "client"]



[tool.poetry.dependencies]
python = ">=3.7"
httpx = "^0.16.1"
numpy = "^1.19"
pydantic = "^1.7.3"
tqdm = "^4.56.0"
loguru = "^0.5.3"
typing-extensions = "^3.10.0"

[tool.poetry.dev-dependencies]
pytest = "^5.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
