[tool.poetry]
name = "qdrant_client"
version = "0.10.2"
description = "Client library for the Qdrant vector search engine"
authors = ["Andrey Vasnetsov <andrey@qdrant.tech>"]
packages = [
    {include = "qdrant_client"},
    {include = "qdrant_openapi_client"}
]
readme = "README.md"
homepage = "https://github.com/qdrant/qdrant_client"
repository = "https://github.com/qdrant/qdrant_client"
keywords = ["vector", "search", "neural", "matching", "client"]


[tool.poetry.dependencies]
python = ">=3.7,<4.0"
httpx = { version = "^0.23.0", extras = ["http2"] }
numpy = "^1.21"
pydantic = "^1.8"
tqdm = "^4.56.0"
loguru = "^0.5.3"
typing-extensions = "^4.0.0"
grpcio = { version = "^1.46.0", allow-prereleases = true }
grpcio-tools = "^1.48.0"

[tool.poetry.dev-dependencies]
pytest = "^7.1"
grpcio-tools = "^1.46.0"
sphinx = "^4.4.0"
qdrant-sphinx-theme = { git = "https://github.com/qdrant/qdrant_sphinx_theme.git", branch = "master" }
coverage = "^6.3.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
