[tool.poetry]
name = "qdrant_client"
version = "1.0.1"
description = "Client library for the Qdrant vector search engine"
authors = ["Andrey Vasnetsov <andrey@qdrant.tech>"]
packages = [
    {include = "qdrant_client"},
    {include = "qdrant_openapi_client"}
]
readme = "README.md"
homepage = "https://github.com/qdrant/qdrant_client"
repository = "https://github.com/qdrant/qdrant_client"
keywords = ["vector", "search", "neural", "matching", "client"]

[tool.poetry.dependencies]
python = ">=3.7,<=3.11"
httpx = { version = ">=0.14.0", extras = ["http2"] }
numpy = ">=1.21"
pydantic = "^1.8"
typing-extensions = "^4.0.0"
grpcio = { version = ">=1.41.0", allow-prereleases = true }
grpcio-tools = ">=1.41.0"

[tool.poetry.group.dev.dependencies]
pytest = "^7.1"
grpcio-tools = "^1.46.0"
sphinx = "^4.4.0"
qdrant-sphinx-theme = { git = "https://github.com/qdrant/qdrant_sphinx_theme.git", branch = "master" }
coverage = "^6.3.3"

[tool.poetry.group.types.dependencies]
pyright = "^1.1.293"
mypy = "^1.0.0"
types-protobuf = "^4.21.0.5"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
