name: Integration tests

on:
  push:
    branches: [ master ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:

    strategy:
      matrix:
        python-version:
          - '3.8.x'
          - '3.9.x'
          - '3.10.x'
          - '3.11.x'
          - '3.12.x'
        os:
          - ubuntu-latest

    runs-on: ${{ matrix.os }}

    name: Python ${{ matrix.python-version }} on ${{ matrix.os }} test

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install poetry
          poetry config virtualenvs.create false
          poetry install --no-interaction --no-ansi --all-extras
      - name: Run async client generation tests
        run: |
          if [[ ${{ matrix.python-version }} == "3.10.x" ]]; then
            ./tests/async-client-consistency-check.sh
          fi
        shell: bash
      - name: Run Python doc tests
        run: |
          python -m doctest qdrant_client/local/local_collection.py
      - name: Run integration tests
        run: |
          ./tests/integration-tests.sh
        shell: bash
      - name: Backward compatibility integration tests
        run: |
          export RUNNER_OS=${{ runner.os }}
          QDRANT_VERSION='v1.10.1' ./tests/integration-tests.sh
        shell: bash
      - name: Run fastembed tests without fastembed
        run: |
          pip3 uninstall fastembed -y
          pytest tests/test_fastembed.py
        shell: bash
      - name: Check conversion coverage
        run: |
          export RUNNER_OS=${{ runner.os }}
          ./tests/coverage-test.sh
        shell: bash
